<div id="inboxSidebar">
    <h2>Filtrar por</h2>
    <p><a href="/inbox" >Todos</a></p>
    <p><a href="/inbox/read" >Leídos</a></p>
    <p><a href="/inbox/unread" >No leídos</a></p>
    <p><a href="/inbox/favorite" >Favoritos</a></p>
    <p><a href="/inbox/spam" >Spam</a></p>
    <p><a href="/inbox/deleted" >Borrados</a></p>
</div>