<!DOCTYPE html>
<html>

<head>
    <title>UgotMail inbox</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- font awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;700&display=swap"
        rel="stylesheet">
    <!--  sass & js -->
    <link rel='stylesheet' href='/stylesheets/inbox.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src="/js/inbox.js"></script>
</head>
<header> <%- include('partials/header') %> </header>

<body>
    <div id="container">
        <div id="sidebar">
            <%- include('partials/sidebar') %>
        </div>
        <div id="topbar">
            <button type="button" class="btn btn-primary topbarBtn" data-toggle="modal" id="modalBtn"
                data-target="#exampleModal">Enviar correo</button>
            <form id="query" method="POST" action="/inbox/search" >
                <input type="text" name="query">
                <button type="submit">send me!</button>
            </form>
            <!-- modal button&form for email sending. -->

            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nuevo correo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="sendForm" method="POST" action="/mail/send">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Para:</label>
                                    <label for="recipient-name" class="col-form-label grey">(separar por comas)</label>
                                    <input name="recipientString" type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="subject" class="col-form-label">Asunto:</label>
                                    <!-- <label for="recipient-name" class="col-form-label grey">(separar por comas)</label> -->
                                    <input name="title" type="text" class="form-control" id="subject">
                                </div>
                                <div class="form-group">
                                    <!-- <label for="message-text" class="col-form-label">Message:</label> -->
                                    <hl></hl>
                                    <textarea name="message" class="form-control" cols="100" rows="9"
                                        id="message-text"></textarea>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary" id="submitBtn">Enviar!</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="main">
            <%- include('partials/inbox') %>
        </div>
    </div>
</body>
<footer>
    <%- include('partials/footer') %>
</footer>
</html>